/*body { } */

body {
  background-image: url(../wood-texture.jpg);
  background-repeat:repeat;
}

h1 {
    text-align: center;
    color:white;
}

#wrapper {
    background-color:black;
    opacity: 0.8;
    max-width:400px;
    margin:30px auto;
    padding:15px;
}

.flash-correct{
    background-color:green;
    opacity: 0.8;
}

.flash-wrong{
    background-color: red;
    opacity:0.8;
}

.question {
    color:white;
    text-align:center;
}

.start-ctr, .quiz-ctr, .result-ctr {
    margin:15px auto;
    padding:10px;
    text-align: center;
    color:white;
}
.start-button, .quiz-button {
    padding:10px;
    margin:10px;
    color:white;
    background-color:red;
    border-radius:5px;
    max-width: 300px;
    margin:auto;
}

.answers {
    padding:10px;
    margin:10px auto;
    color:white;
    background-color:green;
    border-radius:5px;
    max-width: 300px;
}

.answers:hover {
    background-color:gray;
    color:black;
}

.start-button:hover, .quiz-button:hover {
    opacity: 1.0;
}

.question-span, .answers, .quiz-button, .start-button, .answer-ctr {
  display:block;
}

.score-value, .score-value2 {
    font-size: 18px;
    color:green;
    margin:10px auto;
    text-align: center;
    padding:5px;
}

